<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content=
      "width=device-width, initial-scale=1.0" />
    <title>demo</title>
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
  </head>
  <body>
    <h1 class="heading">SCHEDULE YOUR IITR LABS</h1>
    <hr>
    <form method="GET" action="/login" class="signin">
      <input type="button" class="signnin" onclick="location.href='/login'" value="Sign IN">
  </form> 
  <br><br>
  <img src=https://invent.studyabroad.pk/images/university2/iitr-banner.jpg.jpg class="iitr">
  <div class="flexbox">
    <div class="big">
        <p class="para">
          This is a website for IITR students who wish to complete their computer assignments after official lab class and can book it in advance
          for specific time
        </p>
      </div>
       <div class="p">
        For more inquries visit
       
       </div>
       <div class="d1" ></div>
       <a href="https://acad.iitr.ac.in/" >click here to view academics</a>
       <br>
       <hr>
       <a href="https://iitr.ac.in/Academics/Academic%20Calendar.html" >click here to view academic calender</a>
       <br>
       <hr>
       <a href="https://iitr.ac.in/Academics/Contact.html" >click here  to contact iitr</a>
       <br>
       <hr>
       <a href="https://www.iitr.ac.in/institute/pages/Registration_Portal.html" >click here to do system registration</a>
       <br>
       <hr>
       <a href="https://iitr.ac.in/Departments/Mechanical%20and%20Industrial%20Engineering%20Department/Academics/Syllabus.html">click here to view syllabus</a>
      <br>
      <hr>
      </div>
    
    </div>

  </body>
</html>