<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>labs</title>
    <link rel="stylesheet" href="../public/css/labs.css" type="text/css">
    
</head>

<body>
    
    <h1 id="comp">SELECT YOUR COMPUTERS</h1>
    <div class="flexbox1">
        <div id="hello1" >
            <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1" class="im"  >
            <button  class="a"id="1"onclick="change(1)">UNOCCUPIED</button>
            <p>ID=1</p>
        </div>
        <div id="hello2" >
            <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1"class="im">
            <button class="b" id="2"onclick="change(2)">UNOCCUPIED</button>
            <p>ID=2</p>
        </div>

        <div id="hello3" >
            <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1"class="im" >
            
            <button  class="c" id="3" onclick="change(3)">UNOCCUPIED</button>
            <p>ID=3</p>
            </div>
        <div id="hello4" >
                <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1"class="im" onclick="change()" >
                
                <button class="d" id="4" onclick="change(4)">UNOCCUPIED</button>
                <p>ID=4</p>
        </div>
        <div id="hello5" >
                    <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1" class="im" onclick="change()">
                    
                
                <button class="e" id="5" onclick="change(5)">UNOCCUPIED</button>
                    <p>ID=5</p>
        </div>
    </div>
    <br><br><br>
    <div class="flexbox2">
        <div id="hello6" >
            <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1"class="im" onclick="change()" >
            
            <button class="f"  onclick="change(6)">UNOCCUPIED</button>
            <p>ID=6</p>
        </div>
        <div id="hello7" >
            <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1"class="im" onclick="change()" >
            
            <button class="g" id="7" onclick="change(7)">UNOCCUPIED</button>
            <p>ID=7</p>
            </div>
        <div id="hello8" >
                <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1"class="im" onclick="change()" >
                 
                <button class="h" id="8"onclick="change(8)">UNOCCUPIED</button>
            <p>ID=8</p>
        </div>
        <div id="hello9" >
                <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1"class="im"onclick="change()"  >
                
                <button class="i"id="9" onclick="change(9)">UNOCCUPIED</button>
                <p>ID=9</p>
        </div>
        <div id="hello10" >
                <img src="https://th.bing.com/th/id/OIP.8nsbEtfhBNg7Uj_NhsIRzAHaGl?pid=ImgDet&rs=1" class="im"onclick="change()" >
                
                <button class="j" id="10" onclick="change(10)">UNOCCUPIED</button>
                <p>ID=10</p>
        </div>


    </div>
    </body>
    <script src="../public/scripts/scripts.js"></script>

</html>