<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content=
      "width=device-width, initial-scale=1.0" />
    <title>demo</title>
    <link rel="stylesheet" href="../public/css/login.css" type="text/css">
  </head>
  <body>
    <h1 class="heading">BOOKING LABS FOR FUTURE USE OF STUDENTS </h1>
    <div>
       <!-- <form method="POST" action="/login">
           <p>Enter your enrolment no.:<input type="number" name="enrollment" id="enrollment"></p>
           <input type="submit">
       </form> -->
       <form method="POST" action="/login">
        <p>Enter your enrollment no:</p>
        <input type="number" name="enrollment" id="enrollment" /><br><br>
        <input type="submit" value="Submit" />
       </form>
    </div>
  </body>
</html>